<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="kframework">
      <section name="application" type="br.kpmg.Framework64.ConfigSections.ApplicationSection, br.kpmg.Framework64" />
      <section name="dataconnection" type="br.kpmg.Framework64.ConfigSections.DataConnectionSection, br.kpmg.Framework64" />
      <section name="securityaccess" type="br.kpmg.Framework64.ConfigSections.SecurityKportalAccessSection, br.kpmg.Framework64" />
      <section name="utilities" type="br.kpmg.Framework64.ConfigSections.UtilitiesSection, br.kpmg.Framework64" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- Configurações do framework-->
  <kframework>
    <!--Nome da aplicação-->
    <application webname="KDSC WEB" name="kdsc" testmode="true" testuser="br\ricardoosilva" environment="dev" />
    <!--Conexão com o banco SQL local da aplicação  dev -->
    <dataconnection entity="syDlqclFdqGj+7dtilfU2tSj7+zroYhhuZoSfUhEFoaRGyNy17I98W6z7nBzTlV1EQMpZFRE0wToDS3pu+j7Ah6G2781b8fmoEGuvuixDPlEuAJDJrA7ZAReAALJylRw9NUVdNwItthzuyLboaX+hJES14xGq9QoT6uunJ6TOQ8goWvQmGSRNK0A6+e6wKz3m___KErKnwvOU1d2k727c18w==" />
    <!--Conexão com o banco SQL local da aplicação  prd 	
		<dataconnection entity="U9Kv4xGMqzbuuaXtMTDm5YeI8AYMoCIvH2eF8CpA4FyQxRYJcOaUu7Wg11GA3BbqWOOLDatbbEJ8XFsH3PV5crxb5KAnfL0uT+eV5yAO1aHXVerFqr4RO0ml+QWud8cOpyJeTktdJyZSlNMkMAgJTgEpxery69ca6T2EOdr4Ar6+ujEjxLAHj1D7SHlcN1B8dwRmkE0mdni8NH3Afyhmq3CcHHTlx6___kGbRTfrkY59HLT8WU64aosrntzUneA4ki"/>

 -->
    <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-Conexão com o Banco KPORTAL-////////////////////////////////-->
    <!-- dev -->
    <securityaccess user="XMb8x2PFGhN6xylNNKPE7w==" password="Xb+AH69wyoihGpaoVJGRHg==" database="uHAt7lqLwowZIrtLTxQeQA==" datasource="Y4PuD2zJiUu1JTI9mMwIgmtScFC+RBuEFf32___pMMxkouRjrGkSVs8G4CmuSrLPW8" />
    <!-- prd   
		<securityaccess
			user="9Tr3MBL7zKvtdUTbvJa3u01ioWIZyfUgmuFxH4dbypw="
			password="96zp5VGS1edy65egUDQ4mw=="
			database="gvQD4DpX5VQ4SzrOQC7n1We+T1d6x8XF6o6VG3nkKaQ="
			datasource="N7BVX6qJ6Y42O9Kn9wV7bZcLvwwRmN7zlLA___3bvLfatJxbT3nCbaY3IqwQCncLcL"

			/> -->

  </kframework>

  <connectionStrings>
    <add name="kdscwebContext" connectionString="Data Source=dev.sql.br.kworld.kpmg.com\systems;Initial Catalog=KDSCWEB;Persist Security Info=True;User ID=usribs;Password=K4P3MG301;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
      O corpo do e-mail de notificação foi parametrizado para facilitar a manutenção do mesmo.
      O corpo do e-mail possui os parametros abaixo:
      {0} - Job
      {1} - Nome do documento
      {2} - Endereço de rede
      As tags são alteradas da seguinte forma:
      < é trocada por  &lt; e > é trocada por &gt;
      & é trocada por &amp;
    -->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Para testar o envio de e-mails habilite o modo de teste (ModoTeste igual a true) e adiciona o e-mail de destino em "Teste_MailTo"-->
    <add key="ModoTeste" value="true" />
    <add key="Teste_MailTo" value="raimundocampos@kpmg.com.br;ricardoosilva@kpmg.com.br" />
    <add key="SmtpHost" value="smtprelay.br.kworld.kpmg.com" />
    <add key="SmtpPort" value="25" />
    <add key="MailFrom" value="ricardoosilva@kpmg.com.br" />
    <add key="Subject" value="Respostas de Circularização Recebidas no dia " />
    <add key="BodyMail" value="&lt;font size='11pt' face='Calibri' &gt;Prezados,&lt;br&gt;&lt;br&gt;Informamos que no dia de hoje recebemos as respostas de circularização abaixo, referentes ao job {0}.&lt;br&gt;&lt;br&gt;{1} &lt;br&gt;&lt;br&gt;As respostas digitalizadas encontram-se disponíveis na seguinte pasta da rede: {2}&lt;br&gt;&lt;br&gt;As vias originais das respostas foram encaminhadas por malote aos responsáveis informados no Formulário de Preparação de Expedição.&lt;br&gt;&lt;br&gt;Atenciosamente,&lt;br&gt;&lt;strong&gt;KDSC - KPMG Delivery &amp; Services Center&lt;/strong&gt;&lt;/font&gt;" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>